/* Menu */
.top-header { padding: 20px 0; border-bottom: 1px solid #ceead5; }
.menu-group { text-align: right; position: relative; }
.menu-group ul { padding: 0; margin: 0; list-style: none; }
.main-menu > li { display: inline-block; padding: 0 10px; }
.add-listing i { padding-right: 10px; }
.add-listing { display: inline-block; padding: 10px 20px 10px 15px; border: 1px solid; border-radius: 11px; line-height: 1; transition: 0.3s all ease-in-out; border-color: #000; }
.main-menu li a { color: #000; transition: 0.3s all ease-in-out; }
.main-menu li a:hover { color: #42a7df; background: transparent; }
ul.dropdown-menu li a { padding: 8px 20px; }
.add-listing:hover { background: #42a7df; color: #fff; border-color: #42a7df; }
.dropdown-menu { top: 5px !important; }
/* Slider */
.slider-content { text-align: center; margin: 0 auto; width: 100%; position: absolute; top: 25%; max-width: 1000px; left: 0; right: 0; background: rgba(0,0,0,0); z-index: 1; color: #f7f7f7; }
.carousel-item::before { position: absolute; content: ''; background: rgba(0,0,0,0.4); height: 100%; width: 100%; top: 0; left: 0; }
.carousel-inner .carousel-item { text-align: center; }
.carousel-inner .carousel-item img { width: 100%; }

/* Header */
.slider-content h2 { font-size: 48px; font-weight: 600; letter-spacing: 1px; word-spacing: 3px; margin: 0 0 30px; }
.slider-content h4 { font-size: 26px; line-height: 1.3; margin: 0 0 20px }
.location-wrappper { margin-bottom: 3%; }
.card-body { padding: 1rem; }
.cat-and-location { margin-top: 45px; margin-bottom: 45px; }
.cat-and-location h2 { margin-bottom: 20px; }
.card-subtitle .phone { position: relative; padding-left: 25px; margin-top: 8px; display: inline-block; color: #777; font-weight: 600; }
.card-subtitle .phone::before { content: "\f095"; left: 0; font-family: FontAwesome; position: absolute; font-size: 20px; color: #777; }
#page_navigation { padding: 10px 0; border: 1px solid #ccc; border-left: 0; border-right: 0; border-bottom: 0; }
#page_navigation > a { margin-left: 10px; }
/* Star Rating */
.score { display: block; font-size: 16px; position: relative; overflow: hidden; }
.score-wrap { display: inline-block; position: relative; height: 19px; }  
.score .stars-active { color: #EEBD01; position: relative; z-index: 10; display: inline-block; overflow: hidden; white-space: nowrap; }  
.score .stars-inactive { color: #ccc; position: absolute; top: 0; left: 0; -webkit-text-stroke: initial; }
.score i { font-size: 25px; }
.reviews-count { position: absolute; right: 20%; color: #777; }
.card-image img { width: 100%; }
.card-link { margin-top: 10px; display: inline-block; }
.location-wrappper .card { border-radius: 9px !important; }
/* Single Location Name */
.inner-top-banner { background: url(../images/stars.jpg) no-repeat; padding: 80px 0; background-size: cover; color: #fff; background-position: center; }
a:hover { text-decoration: none; }
.right-side > div { padding-bottom: 20px; border-bottom: 1px solid #ccc; margin-bottom: 15px; }
.right-side > div:last-child { border: 0; margin: 0; padding: 0; }
.right-side .url, .right-side .lists { margin-bottom: 10px; }
.main-logo { display: inline-block; margin-right: 15px; }
.main-logo img { max-width: 100px; width: 100%; }
.single-location-wrapper .location-name { margin-bottom: 10px; line-height: 1.7; position: relative; max-width: 700px; width: 100%; }
.closed { font-size: 14px; color: grey; display: block; position: absolute; right: 0; top: 37%; font-weight: 600; }
.single-location-wrapper .description { font-size: 24px; color: indigo; margin-bottom: 15px; }
.cat-and-location h3 { margin: 0 0 10px 0; font-size: 23px; font-weight: 500; }
.special-offer .url { margin-top: 15px; margin-bottom: 0 ; }
.social-links h3 { margin-bottom: 10px; }
.social-links a { display: inline-block; color: #fff; position: relative; padding-left: 25px; }
.social-links a:before { position: absolute; font-family: FontAwesome; left: 0; font-size: 20px; top: -3px; }
.twitter a:before { content: "\f081"; }
.facebook a:before { content: "\f082"; }
.location-phones .number { display: inline-block; vertical-align: top; width: 32.3%; margin-bottom: 2%; }
.right-side .specialUrl { display: inline-block; margin-top: 10px; }
.video-url iframe { width: 100%; }
.start span, .ends span { font-weight: 600; }
.location-hours .day { font-weight: 700; }
.additional-hours { margin-top: 25px; }
.displayUrl a { color: #fff; display: inline-block; line-height: 1.3; text-decoration: underline; }
.location-urls .col-md-4 { margin-bottom: 15px; }
.specific-buttons { display: flex; justify-content: space-around; }
.specific-buttons button { margin: 0 5px; }
/* Carousel */
.gallery-container { position: relative; }
.mySlides { display: none; max-width: 400px; width: 100%; margin: 0 auto; position: relative; }
.cursor { cursor: pointer; }
.prev, .next { cursor: pointer; position: absolute; top: 60%; width: auto; padding: 16px; margin-top: -50px; color: white; font-weight: bold; font-size: 20px; border-radius: 0 3px 3px 0; user-select: none; -webkit-user-select: none; }
.next { right: 0; border-radius: 3px 0 0 3px; }
.img-caption { display: block; text-align: center; background: rgba(0,0,0,0.5); color: #fff; font-size: 20px; padding: 5px; position: absolute; width: 100%; bottom: 0; }
/* Reviews */
.jumbotron.review_wrapper { padding: 1rem; border-radius: 21px; }
.reviewer span { display: inline-block; margin-right: 15px; }
.review_comments { max-width: 1000px; width: 100%; padding: 1rem; border-radius: 21px; margin: 30px 0 20px auto; color: #fff; }
.comments-wrapper { padding: 1rem; border-radius: 21px; margin-top: 1rem; }
.main_review { padding: 1rem; max-width: 800px; margin-top: 1rem; border-radius: 21px; }
.main_review h4 { font-weight: 600; text-transform: capitalize; border-bottom: 1px dashed; padding-bottom: 10px; }
.main_review p { margin-bottom: 5px; }
/* Left Side */
.left-side h3 { background: #007bff; color: #fff; padding: 10px; }
.left-side > div > div { padding: 0 10px 0 10px; }
.left-side > div > div:first-of-type { padding-top: 5px; }
.left-side > div { margin-bottom: 15px; border: 1px solid #007bff; padding-bottom: 15px; }
.email a { overflow: hidden; width: 100%; word-wrap: break-word; }
.email { border-bottom: 1px dashed #007bff; padding-bottom: 5px !important; }
.left-side .email:last-of-type { border: 0; }
/* Footer */
.footer { padding: 10px 0; }
.footer p { margin: 0; }
.footer p, .footer a { color: #ccc; font-size: 14px; }
/* ECL */
.itemsInfo p { margin-bottom: 5px; line-height: 1.4; }
.ecl-section { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 2px solid; }
.ecl-section:last-child { padding: 0; margin: 0; border: 0; }
.ecl-section h4 { font-size: 20px; }
.ecl-section { display: flex; flex-flow: row wrap; }
.ecl-section h3, .ecl-section h4 { flex-direction: column; width: 100%; }
.ecl-section .itemsInfo { display: flex; flex-direction: column; width: 48%; border: 1px solid #ccc; border-radius: 11px; padding: 2%; margin: 1% 1% 2% 1%; }
.section-name { text-align: center; background: #f7efef; padding: 10px; text-transform: uppercase; font-weight: 600; }

/********* Star Ratings *********/
.new-react-version { padding: 20px 20px; border: 1px solid #eee; border-radius: 20px; box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1); text-align: center; font-size: 14px; line-height: 1.7; }
.new-react-version .react-svg-logo { text-align: center; max-width: 60px; margin: 20px auto; margin-top: 0; }
.success-box { margin:50px 0; padding:10px 10px; border:1px solid #eee; background:#f9f9f9; }
.success-box img { margin-right:10px; display:inline-block; vertical-align:top; }
.success-box > div { vertical-align:top; display:inline-block; color:#888; }
/* Rating Star Widgets Style */
.rating-stars ul { list-style-type:none; padding:0; -moz-user-select:none; -webkit-user-select:none; }
.rating-stars ul > li.star { display:inline-block; }
/* Idle State of the stars */
.rating-stars ul > li.star > i.fa { font-size:2.5em; color:#ccc; }
/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa { color:#FFCC36; }
/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa { color:#FF912C; }

/* Review Form */
.formsmainWrapper { max-width: 600px; width: 100%; margin: 25px auto; }
.formsmainWrapper .content__form { border: 0; padding: 0; }
.contact-form { position: relative; display: block; margin: 0; padding: 16px 0 32px; padding: 1rem 0 2rem; border-top: 1px solid #cdcfcf; border-bottom: 1px solid #cdcfcf; overflow: hidden; }
.contact-form__input-group { padding: 8px 0; }
.contact-form__label { display: block; color: #414643; }
/* .contact-form__label--checkbox-group { display: inline-block; margin-right: 16px; margin-right: 1rem; }
.contact-form__label--checkbox,.contact-form__label--radio { display: inline-block; margin-left: 4px; margin-left: 0.25rem; } */
.contact-form__input { display: block; margin-top: 0; padding: 8px 12px; padding: 0.5rem 0.75rem; border: 1px solid #cdcfcf; width: 100%; font-family: 'Open Sans', sans-serif; font-size: 16px; font-size: 1rem; transition: 150ms border-color linear; }
.contact-form__input--checkbox,.contact-form__input--radio { display: inline-block; width: auto; }
.contact-form__input--checkbox~.contact-form__input--checkbox, .contact-form__input--radio~.contact-form__input--radio { margin-left: 16px; margin-left: 1rem; }
.contact-form__input:focus,.contact-form__input:active { border-color: #686a69; outline: 0; }
.rating-widget { margin-top: 30px; }
#submit:active:focus { box-shadow: none; }

/* Updated Single Page */
.listing-name { background-color: #f7fbfe; border-bottom: 1px solid #dbe7ef; border-top: none; padding: 50px 0; }
.listing-name h4 { color: #7f7f7f; font-size: 16px; }
.listing-name .col-md-4 { display: flex; justify-content: center; align-items: center; }
.rating-section { background-color: #73cf42; border-radius: 5px; color: #fff; display: inline-block; font-weight: 700; height: 36px; line-height: 36px; padding: 0 10px; text-align: center; vertical-align: top; width: 60px; font-size: 14px; margin-right: 15px; }
.submit-review a { font-size: 16px; line-height: 41px; border: 1px solid #363f48; transition: all .2s ease; border-radius: 5px; display: inline-block; font-weight: 600; color: #363f48; padding: 15px 14px; line-height: 1; }
.submit-review a:hover { background: #363f48; color: #fff; }
.submit-review { margin-left: 15px; }
.addtionalData ul { padding: 0; margin: 0; }
.addtionalData .list-group-item { border: 0; padding: 0 0px 10px 0; }
.addtionalData { border: 1px solid #dedede; border-radius: 5px; padding: 25px; }
.side-header { font-size: 18px; margin-bottom: 10px; color: #333; }
.main-address { border: 1px solid #dedede; border-top: 0; display: flex; justify-content: center; align-items: center; color: #7f7f7f; background: #fafafa; margin-top: -5px; }
.location-details iframe { border: 0; width: 100%; }
.main-address > span:first-child { padding: 0 20px; }
.main-address i { font-size: 27px; color: #7f7f7f; }
.social-links { background: #fafafa; }
.social-links a { display: inline-block; color: #7f7f7f; height: 30px; width: 30px; padding: 0; }
.social-links a::before { font-size: 30px; top: 0; left: 0; top: -8px; }
.social-links { background: #fafafa; display: flex; justify-content: center; align-items: center; padding: 10px 0; border: 1px solid #dedede; border-top: 0; }
.social-links > div { margin: 0 5px; }
.additional-data { margin-top: 30px; }
.single-info { padding: 20px 0; border-bottom: 1px solid #ccc; }
.time-bar { border: 1px solid #dedede; border-radius: 5px; padding: 14px 20px; display: block; color: #7f7f7f; margin-bottom: 15px; }
.time-bar.opened { color: #73cf42; }
.time-bar.closed { color: red; }
.time-bar i { font-size: 24px; top: 3px; position: relative; display: inline-block; padding-right: 15px; color: #ccc; }

article.review-post { border: 1px solid #dedede; border-radius: 5px; padding: 30px 20px 20px; margin-bottom: 25px; }
.image-and-review { display: flex; }
.image-and-review .figure { width: 20%; display: flex; flex-direction: column; align-items: center; }
.details .top-section h3 { color: #555; font-size: 16px; font-weight: 600; margin-bottom: 3px; margin-top: 0; }
time { font-size: 14px; line-height: 22px; }
.content-section p { color: #7f7f7f; font-size: 14px; line-height: 1.4; }
.details .top-section { margin-bottom: 10px; }
.review-thumbnail { border: 1px solid #eee; border-radius: 100%; overflow: hidden; }
.figcaption h4 { color: #333; margin-bottom: 0; overflow: hidden; text-overflow: ellipsis; text-transform: capitalize; font-size: 15px; font-weight: 600; margin-top: 15px; }
.image-and-review .details { width: 70%; display: flex; flex-direction: column; }
.image-and-review .review-stars { width: 10%; display: flex; justify-content: end; }
.review-section > h4 { margin-bottom: 25px; }
.rate-review-section a { font-size: 16px; line-height: 24px; color: #333; }
.top-header .col-md-9 { display: flex; justify-content: flex-end; align-items: center; }
.results-section { display: flex; justify-content: flex-start; }
.results-section > div { display: flex; width: 25%; margin: 0 1%; border: 1px solid #dedede; border-radius: 5px; }
.results-section > div:first-child { margin-left: 0; }
.results-section .card a { background: #73cf42; display: inline-block; font-weight: 600; color: #fff; padding: 8px 16px; border-radius: 5px; border: 1px solid #73cf42; transition: 0.3s all ease-in-out; font-size: 15px; }
.results-section .card a:hover { color: #73cf42; background: #fff; }
.results-section .card-title { color: #555; font-weight: 500; margin: 0; }
.results-section .card-text { color: #7f7f7f; font-size: 14px; line-height: 1.4; margin: 10px 0; min-height: 80px; }